* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

section {
    display: flex;
}

section div {
    margin: 2%;
    width: 5%;
    padding-bottom: 5%;
    border: 1px solid darkred;
}

.circle {
    border-radius: 50%;
}

.losange {
    transform: rotate(45deg);
}