* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

main {
    width: 100%;
    padding-top: 4%;
    padding-right: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
}

section div {
    margin: 1.5%;
    width: 6%;
    padding-bottom: 6%;
    border: 1px solid darkred;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 0;
}

.losange {
    transform: rotate(45deg);
}

.painted {
    background-color: teal;
}

aside {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

aside:first-child {
    flex-basis: 80%;
}

aside:last-child {
    display: flex;
    flex-direction: column;
}

button {
    margin: 1rem 0;
}